<section class="priceSection">
   <mat-grid-list cols="4" rowHeight="30px">
      <mat-grid-tile [colspan]="3" [rowspan]="1">
         Prix Total:
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
         333 €
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
         Prix apés l'offret:
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" class="cartListPrice">
         222 €
      </mat-grid-tile>
   </mat-grid-list>
</section>
